<form action={% url 'tm:home' %} method="get" class="flex items-center border-b border-teal-500 py-2 mb-8">
    <input
        class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-light focus:outline-none"
        type="text"
        placeholder="Search..."
        aria-label="Search query"
        name="q" {# 'q' matches the GET parameter in the view #}
        value="{{ query|default:'' }}"
    >
    <button
        type="submit"
        class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded"
    >
        Search
    </button>
</form>